mountedNodeRed/.flows.json.backup
[
    {
        "id": "23407278add7e151",
        "type": "tab",
        "label": "XML test basic",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a7d8fc2d22c6927d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "bc713ba6fa75ab8e",
        "type": "tab",
        "label": "Weather email test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3252413635e0a9c9",
        "type": "tab",
        "label": "MQTT out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f184b0b4c551e12d",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de1dff51ee856220",
        "type": "tab",
        "label": "MQTT 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c816a3707978744",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "548abdc55a174ab9",
        "type": "file in",
        "z": "23407278add7e151",
        "name": "",
        "filename": "/data/test.xml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "b9a3f5ed09ccb498"
            ]
        ]
    },
    {
        "id": "b9a3f5ed09ccb498",
        "type": "xml",
        "z": "23407278add7e151",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "087c28c421b22e0d"
            ]
        ]
    },
    {
        "id": "087c28c421b22e0d",
        "type": "debug",
        "z": "23407278add7e151",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "685c5ba5a1a02eec",
        "type": "inject",
        "z": "23407278add7e151",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "548abdc55a174ab9"
            ]
        ]
    },
    {
        "id": "c55d8b178dbda18c",
        "type": "comment",
        "z": "a7d8fc2d22c6927d",
        "name": "Commmment",
        "info": "http://localhost:1880/#node/c55d8b178dbda18c",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "264dee960cb3cf33",
        "type": "inject",
        "z": "a7d8fc2d22c6927d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "934051c593e41a8d"
            ]
        ]
    },
    {
        "id": "934051c593e41a8d",
        "type": "debug",
        "z": "a7d8fc2d22c6927d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "d2e9c5e857f31c01",
        "type": "debug",
        "z": "bc713ba6fa75ab8e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "fb48571705450987",
        "type": "openweathermap",
        "z": "bc713ba6fa75ab8e",
        "name": "TK2",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Brussels",
        "country": "Belgium",
        "language": "en",
        "x": 270,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e8b9fb03512f034e",
        "type": "inject",
        "z": "bc713ba6fa75ab8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "fb48571705450987"
            ]
        ]
    },
    {
        "id": "a287718862104f1a",
        "type": "inject",
        "z": "bc713ba6fa75ab8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "edafd7e8defe0fde"
            ]
        ]
    },
    {
        "id": "edafd7e8defe0fde",
        "type": "openweathermap",
        "z": "bc713ba6fa75ab8e",
        "name": "TK_Fr",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Paris",
        "country": "France",
        "language": "en",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "29914f971dfcb1e0"
            ]
        ]
    },
    {
        "id": "29914f971dfcb1e0",
        "type": "function",
        "z": "bc713ba6fa75ab8e",
        "name": "function 1",
        "func": "if (msg.payload.weather === \"Mist2\"){\n    msg.payload = \"Het is mistig\"\n    return msg\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            [
                "d2e9c5e857f31c01"
            ]
        ]
    },
    {
        "id": "7781dd7917e94d44",
        "type": "inject",
        "z": "3252413635e0a9c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"{\\\"temperature\\\": 22, \\\"unit\\\": \\\"C\\\"}\"",
        "payloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "bf65b3f8060eee35"
            ]
        ]
    },
    {
        "id": "8bc13cc65a2f9815",
        "type": "mqtt out",
        "z": "3252413635e0a9c9",
        "name": "MQTT out",
        "topic": "Test",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c816a3707978744",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "7126f02915288237",
        "type": "debug",
        "z": "3252413635e0a9c9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "bf65b3f8060eee35",
        "type": "json",
        "z": "3252413635e0a9c9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "8bc13cc65a2f9815",
                "7126f02915288237"
            ]
        ]
    },
    {
        "id": "cb723c10f9c636c5",
        "type": "mqtt in",
        "z": "f184b0b4c551e12d",
        "name": "sub demo/test",
        "topic": "demo/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c816a3707978744",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "d624e652433dd450"
            ]
        ]
    },
    {
        "id": "d624e652433dd450",
        "type": "function",
        "z": "f184b0b4c551e12d",
        "name": "function 2",
        "func": "let value = Number(msg.payload.seq)\nvalue = value\nmsg.payload.seq = value\n\nlet person = String(msg.payload.name)\nmsg.payload.name = person\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "2ca672e924648607"
            ]
        ]
    },
    {
        "id": "bc7d6759786ccb55",
        "type": "mqtt out",
        "z": "f184b0b4c551e12d",
        "name": "",
        "topic": "demo/test2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c816a3707978744",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd0cbe06bc1da2ec",
        "type": "debug",
        "z": "f184b0b4c551e12d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "2ca672e924648607",
        "type": "function",
        "z": "f184b0b4c551e12d",
        "name": "function 3",
        "func": "// msg.payload is already parsed JSON in Node-RED\nif (msg.payload.name === \"Thomas\" && msg.payload.seq % 2 === 0) {\n    return msg;          // pass through\n}\nreturn null;             // drop\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "07ba5a60d83752bb"
            ]
        ]
    },
    {
        "id": "07ba5a60d83752bb",
        "type": "template",
        "z": "f184b0b4c551e12d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload.name}} and he is {{payload.seq}} years old !",
        "output": "str",
        "x": 580,
        "y": 780,
        "wires": [
            [
                "fd0cbe06bc1da2ec"
            ]
        ]
    }
]